body, html {
	background-color: #3b4b54; 
}

@font-face {
	font-family: 'helvneue';
	src: url('/stylesheets/helvneue.ttf');
}

@font-face {
	font-family: 'myFont';
	src: url('/stylesheets/myFont.ttf');
}

.user{
	cursor: pointer;
	font-family: helvenue;
}

.user:hover{
	color: #FAEBD7;
}

p{
	word-wrap: break-word;
	color:#FFFFFF;
}

.intro{
	color:#FFFFFF;
}

#commentButton{
	float:right;
	margin-top: .5em;
}

#infoBox{
	height:3em;
	color:red;
}

.fromComment{
	float:right;
}

#from{
	height:2em;
	width:100%;
	margin-right: 1em;
}

#congratsText{
	font-size: 1.3em;
	font-family: myFont;
	color: #008cba;
}